miproject
self_reading.py
text.text
trainer.py
vgg19_train.txt
Dockerfile
monitor.py
program_runner.py
report_images
images
checker.py
info.txt
matched_images
train_data
val_data
data
annotations.json
vgg16
vgg19
forwarding.sh
